{% set route_name = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>

		<title>
			InOut - {% block title %}{% endblock %}
		</title>		

		{% block stylesheets %}
			<!-- CSS files -->
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-flags.min.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-payments.min.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-vendors.min.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler.min.css">
			
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			
		{% endblock %}
	</head>
	<body data-bs-theme="dark">
		<div class="page">
			
			<!-- MENU -->
            {% include 'partial/_aside.html.twig' with { 'active': 'primo' } %}

			<div class="page-wrapper">
			<!-- Page header -->
			<div class="page-header d-print-none">
				<div class="container-xl">
					<div class="row g-2 align-items-center">
						<div
							class="col">
							<!-- Page pre-title -->
							<div class="page-pretitle">
								Gestione entrate uscite
							</div>
							<h2 class="page-title">
								InOut
							</h2>
						</div>
					</div>
				</div>
			</div>
            <!-- CONTENUTO -->

			<div class="page-body">
				<div class="container-xl">
					<div class="row">
						<div class="col-12">
						{% block body %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
			
			<footer class="footer footer-transparent d-print-none">
				<div class="container-xl">
					<div class="row text-center align-items-center flex-row-reverse">
						<div class="col-lg-auto ms-lg-auto">
							<ul class="list-inline list-inline-dots mb-0">
								<li class="list-inline-item">
									Copyright &copy; {{ 'now'|date('Y') }}
									<a href="https://www.archistico.com" target="_blank" class="link-secondary">Studio Archistico</a>. Tutti i diritti riservati.
								</li>
								<li class="list-inline-item">
									v1.0.0
								</li>
							</ul>
						</div>
						<div class="col-12 col-lg-auto mt-3 mt-lg-0">
							<ul class="list-inline list-inline-dots mb-0">
								<li class="list-inline-item">
									<a href="./license.html" class="link-secondary">Licenza</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
			</div>
		</div>
		<!-- Tabler Core -->
		<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/js/tabler.min.js" defer></script>
	</body>
</html>
