{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

<!-- Page body -->
<div class="page-body">
	<div class="container-xl">
		<div class="row row-deck row-cards">
			<div class="col-12">
				<div class="card card-md">
					<div class="card-stamp card-stamp-lg">
						<div
							class="card-stamp-icon bg-primary">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coin-euro" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M14.401 8c-.669 -.628 -1.5 -1 -2.401 -1c-2.21 0 -4 2.239 -4 5s1.79 5 4 5c.9 0 1.731 -.372 2.4 -1" /><path d="M7 10.5h4" /><path d="M7 13.5h4" /></svg>
						</div>
					</div>
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col-10">
								<h3 class="h1">InOut</h3>
								<div class="markdown text-secondary">
									Questo è un semplice gestionale opensource sulle spese famigliari che tiene traccia delle entrate e uscite. Inoltre permette di registrare assieme ai movimenti gli allegati per poi l'invio al commercialista.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-12">
				<div class="row row-cards">
					<div class="col-sm-6 col-lg-3">
						<div class="card card-sm">
							<div class="card-body">
								<div class="row align-items-center">
									<div class="col-auto">
										<span
											class="text-black avatar">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-transfer-in" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 18v3h16v-14l-8 -4l-8 4v3" /><path d="M4 14h9" /><path d="M10 11l3 3l-3 3" /></svg>
										</span>
									</div>
									<div class="col">
										<div class="font-weight-medium">
											<strong>1500 €</strong>
										</div>
										<div class="text-secondary">
											Entrate mensili
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="card card-sm">
							<div class="card-body">
								<div class="row align-items-center">
									<div class="col-auto">
										<span
											class="text-black avatar">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-transfer-out" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 19v2h16v-14l-8 -4l-8 4v2" /><path d="M13 14h-9" /><path d="M7 11l-3 3l3 3" /></svg>
										</span>
									</div>
									<div class="col">
										<div class="font-weight-medium">
											<strong>1000 €</strong>
										</div>
										<div class="text-secondary">
											Uscite mensili
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="card card-sm">
							<div class="card-body">
								<div class="row align-items-center">
									<div class="col-auto">
										<span
											class="text-black avatar">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 12h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5.5" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2" /><path d="M16 19h6" /><path d="M19 16v6" /></svg>
										</span>
									</div>
									<div class="col">
										<div class="font-weight-medium">
											<strong>18.000 €</strong>
										</div>
										<div class="text-secondary">
											Entrate annuali
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="card card-sm">
							<div class="card-body">
								<div class="row align-items-center">
									<div class="col-auto">
										<span
											class="text-black avatar">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-minus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 15v-3h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5.5" /><path d="M16 19h6" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2" /></svg>
										</span>
									</div>
									<div class="col">
										<div class="font-weight-medium">
											<strong>10.000 €</strong>
										</div>
										<div class="text-secondary">
											Uscite annuali
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Le 3 categorie più rilevanti</h3>
					</div>
					<table class="table card-table table-vcenter">
						<thead>
							<tr>
								<th>Categorie</th>
								<th>Importo</th>
								<th>% del totale</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="w-20">Uscite - Bollette - Gas</td>
								<td>3.550,00 €</td>
								<td class="w-20">
									<div class="progress progress-xs">
										<div class="progress-bar bg-primary" style="width: 50.0%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="w-20">Uscite - Carburanti - Auto</td>
								<td>1.250,00 €</td>
								<td class="w-20">
									<div class="progress progress-xs">
										<div class="progress-bar bg-primary" style="width: 25.00%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="w-20">Uscite - Alimentazione</td>
								<td>1.000,00 €</td>
								<td class="w-20">
									<div class="progress progress-xs">
										<div class="progress-bar bg-primary" style="width: 10.0%"></div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}
